body {
    background-color: bisque;
    font-size: 12pt;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

p, li {
    margin: 10px 0 5px;
}

h5 {
    margin: 10px 0;
    font-size: 13pt;
}

h6 {
    margin: 20px 0;
    font-size: 14pt;
}

div, table {
    margin: 10px 30px;
    padding: 10px;
    border: 1px solid lightsalmon;
    box-shadow: 2.5px 2.5px 5px lightsalmon;
}

div.info {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 8pt;
    transition: background-color 5s;
}

div.resultado {
    background-color: tomato;
    transition: background-color 1s;
}

tr {
    font-size: 10pt;
}

th {
    font-weight: bold;
    padding-bottom: 10px;
}

td {
    white-space: pre;
    padding: 0px 10px;
}

label {
    display: block;
    font-size: 10pt;
}

input, select {
    width: 250px;
}

